{% extends 'base.html' %}
{% block html_id%} id = "cal_page" {% endblock %}
{% block title %} homepage {% endblock %}
{% block body_info%} id = "homepage_body" {% endblock %}

    {% block navmenu %}
        {% include 'navmenu.html' %}
    {% endblock %}


    {% block content %}
        <h1 class ="homepage_header">Homepage</h1>
        {% include 'calendar.html' %}
        <div class = "center_div">
            <div class ="add_hours_div hidden" id = "add_hours_div">
                <form method = "POST" class = "hours_form" id = "hours_form">
                    <label for="hours_input" id = "hours_label"></label>
                    <input name = "hours_worked" type="text" class ="hours_input" id = "hours_input" pattern = "[1-9]|1[0-5]" placeholder="1-15">
                    <input name="month_year" type = "hidden" id = "month_year_input" value = "{{month_year}}">
                    <input name = "mark_dict" type="hidden" id = "mark_dict_input" value = "{{mark_dict}}">
                    <input name = "remove_dict" type="hidden" id = "remove_dict_input">
                </form>
            </div>
        </div>
        <input name = "markable" type="hidden" id = "markable_input" value = {{markable_bool}}>



    {% endblock %}




